global:
  scrape_interval: 15s
  eyad:eayd:eayd
 2
2
2
2

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'telegraf'
    static_configs:
      - targets: ['18.226.82.62:9273']
